* {
  padding: 0;
  margin: 0;
}

.topbar-button {
  background-color: black;
  border: none;
  color: #cac6c6;
  padding: 5px 10px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

.topbar-button:hover {
  background-color: white;
  color: black;
}

.topbar-button:focus {
  outline: none;
}

.topbar {
  grid-area: topbar;
  background-color: black;
  display: flex;
  align-items: center;
  color: #cac6c6;
}

.title {
  margin-left: 10px;
  margin-right: 20px;
  color: #cac6c6;
  font-weight: 600;
  font-variant: small-caps;
}

.logo {
  height: 48px;
  width: 78px;
  border: 1px solid black;
}

.flex-separator {
  flex: 1;
}

.view-buttons-wrapper {
  position: absolute;
}

.viewer-div {
  position: absolute;
  height: 100%;
}

.view-inner-wrapper {
  position: relative;
}