* {
  padding: 0;
  margin: 0;
}

.topbar-button {
  background-color: black;
  border: none;
  color: #cac6c6;
  padding: 5px 10px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

.topbar-button:hover {
  background-color: white;
  color: black;
}

.topbar-button:focus {
  outline: none;
}

.topbar {
  grid-area: topbar;
  background-color: black;
  display: flex;
  align-items: center;
  color: #cac6c6;
}

.title {
  margin-left: 10px;
  margin-right: 20px;
  color: #cac6c6;
  font-weight: 600;
  font-variant: small-caps;
}

.logo {
  height: 48px;
  width: 78px;
  border: 1px solid black;
}

.flex-separator {
  flex: 1;
}

.view-buttons-wrapper {
  position: absolute;
  display: flex;
}

.viewer-div {
  position: absolute;
  height: 100%;
  width: 100%;
}

.view-inner-wrapper {
  position: relative;
}

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: solid 1px #fff;
}

.pure-button-hover, .pure-button:focus, .pure-button:hover {
  filter: alpha(opacity=90);
  background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.footer {
  grid-area: footer;
  background-color: #ededed;
  display: flex;
  align-items: center;
  color: #a3a3a3;
  padding: 0 20px;
  font-size: 14px;
}