.wrapper {
  overflow: hidden;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 666px calc(100vw - 666px);
  grid-template-rows: 50px 375px calc(100vh - 425px);
  grid-template-areas:
  "topbar   topbar"
  "video    view  "
  "cracks   info  ";
  background-color: #fff;
  color: #444;
}

.video {
  grid-area: video;
}
.view {
  grid-area: view;
}
.cracks {
  grid-area: cracks;
}
.info {
  grid-area: info;
}