.wrapper {
  overflow: hidden;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 30vw 35vw 35vw;
  grid-template-rows: 50px calc(100vh - 200px) 150px;
  grid-template-areas:
  "topbar topbar topbar"
  "info   view   view"
  "info   sensor sensor";
  background-color: #fff;
  color: #444;
  /* width: 100vw;
  height: 100vh; */
}

.info {
  grid-area: info;
  overflow-y: auto;
  overflow-x: hidden;
}
.view {
  grid-area: view;
}
.sensor {
  grid-area: sensor;
}

.legend-img {
  width: 125px;
  height: 500px;
}
.legend-div {
  display: flex; 
  position: absolute; 
  height: 100%;
  width: 100%; 
  overflow-y: auto; 
}