* {
  padding: 0;
  margin: 0;
}

.wrapper {
  overflow: hidden;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 30vw 35vw 35vw;
  grid-template-rows: 50px calc(100vh - 300px) 250px;
  grid-template-areas:
  "topbar topbar topbar"
  "info   view   view"
  "info   sensor sensor";
  background-color: #fff;
  color: #444;
  /* width: 100vw;
  height: 100vh; */
}

.topbar-button {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

.topbar-button:hover {
  background-color: white;
  color: black;
}

.topbar {
  grid-area: topbar;
  background-color: black;
  display: flex;
}
.info {
  grid-area: info;
  overflow-y: auto;
  overflow-x: hidden;
}
.view {
  grid-area: view;
}
.sensor {
  grid-area: sensor;
}